*.md text eol=lf
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.mp4 binary
*.jpg binary
panda_repro/checkpoints/*.pk filter=lfs diff=lfs merge=lfs -text
panda_repro/artifacts/*.joblib filter=lfs diff=lfs merge=lfs -text
panda_repro/artifacts/*.mp4 filter=lfs diff=lfs merge=lfs -text
